{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">



    <title>Document</title>
</head>
<body>

    <div class="dashboard-container">
        <aside class="sidebar">
            <div class="profile">
                {% if user.is_authenticated %}
                    <div class="avatar">{{ user.username|slice:":1"|upper }}</div>
                    <div class="profile-info">
                        <div class="username">{{ user.username }}</div>
                        <a class="link" href="{% url 'profile' %}">View profile</a>
                    </div>
                {% else %}
                    <div class="profile-info">
                        <a class="link" href="{% url 'login' %}">Sign in</a>
                        <a class="link" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>

            <nav class="nav-links">
                {% if user.is_authenticated %}
                    <a class="nav-item" href="{% url 'home' %}">Home</a>
                    {% if user.profile.role == "teacher" %}
                        <a class="nav-item" href="{% url 'teacher_dashboard' %}">Teacher dashboard</a>
                    {% else %}
                        <a class="nav-item" href="{% url 'student_dashboard' %}">Student dashboard</a>
                    {% endif %}
                    <a class="nav-item" href="{% url 'teacher_groups' %}">My groups</a>
                    {% if user.profile.role == 'teacher' %}
                        <a class="nav-item" href="{% url 'teacher_tasks' %}">My tasks
                        {% if pending_tasks_count %}
                            <span class="badge">{{ pending_tasks_count }}</span>
                        {% endif %}
                     </a>
                    {% else %}
                        <a class="nav-item" href="{% url 'student_tasks' %}">My tasks
                        {% if pending_tasks_count %}
                            <span class="badge">{{ pending_tasks_count }}</span>
                        {% endif %}
                    </a>
                    {% endif %}

                    <a class="nav-item" href="{% url 'create_task' %}">Create task</a>
                    <a class="nav-item" href="{% url 'live_tasks_available' %}">Live tasks</a>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="nav-item logout">Logout
                            {% if ungraded_count %}
                                <span class="badge badge-alert">{{ ungraded_count }}</span>
                            {% endif %}
                        </button>
                    </form>
                {% else %}
                    <a class="nav-item" href="{% url 'home' %}">Home</a>
                    <a class="nav-item" href="{% url 'login' %}">Login</a>
                    <a class="nav-item" href="{% url 'register' %}">Register</a>
                {% endif %}
                {% block sidebar_extra %}{% endblock %}
            </nav>
        </aside>

        <main class="main-content">
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </main>
    </div>

    <script src="{% static 'js/live_tasks_notify.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>


</body>
</html>