{% extends "_base.html" %}
{% load django_vite %}

{% block content %}
    <div class="task-header">
        <div class="header-title" onClick="toggleDesc(this)">
            <h1>Task : {{ task.title }}</h1>
            <h2>Teacher : {{ task.created_by }}</h2>
            <span class="arrow">▼</span>
        </div>
        <div class="header-desc">
            <p>{{ task.description }}</p>
        </div>
    </div>

    <div class="task-body">
        <textarea name="content" id="content" hidden>{{ submission.content }}</textarea>
        <div id="editor" style="height: 100%; flex:70%; border: 1px solid #ccc;"></div>
        <div class="task-status">
            <p id="autosave-status"></p>
        </div>
        <div class="task-submit">
            <a href="{% url 'submit' task.id %}">Submit Task</a>
        </div>
    </div>
    {{ autosave_url|json_script:"autosave-url-data" }}
    {{ csrf_token|json_script:"csrf-token-data" }}

    {% vite_asset 'static/js/editor.js' %}
{% endblock %}


