{% extends "_base.html" %}
{% load django_vite %}

{% block content %}
<div class="task-page">
    <div class="task-header">
        <div class="header-title" role="button" tabindex="0" onclick="toggleDesc(this)" aria-expanded="false">
            <div class="title-left">
                <h1> {{ task.title }}</h1>
                <div class="meta">Teacher: {{ task.created_by }} • Group: {{ task.group }}</div>
            </div>
            <span class="arrow">▼</span>
        </div>
        <div class="header-desc" hidden>
            <p>{{ task.description }}</p>
        </div>
    </div>

    <div class="task-body">
        <div class="editor-wrap">
            <label for="content" class="sr-only">Task editor content</label>
            <textarea name="content" id="content" hidden>{{ submission.content }}</textarea>
            <div id="editor" class="cm-editor" aria-label="Task editor"></div>
        </div>

        <aside class="task-side">
            <div class="task-status">
                <div id="autosave-status">Saved</div>
                <div class="small">Auto-save is enabled</div>
            </div>

            <div class="task-submit">
                <a class="btn btn-primary" href="{% url 'submit' task.id %}">Submit Task</a>
            </div>

            <div class="task-actions">
                <a class="btn btn-ghost" href="{% url 'student_dashboard' %}">Back to dashboard</a>
            </div>
        </aside>
    </div>

    {% if user_role == "teacher" %}
        <div class="task-student-list">
            <h2>Connected students:</h2>
            <ul id="student-list"></ul>
        </div>
    {% endif %}

    {{ autosave_url|json_script:"autosave-url-data" }}
    {{ csrf_token|json_script:"csrf-token-data" }}
    {{ user_role|json_script:"user-role" }}
    {{ user_id|json_script:"user-id" }}
    <script>
        window.isLive = {{ is_live|yesno:"true,false" }}
        window.docID = {{ document.id }}
        const protocol = window.location.protocol === "https:" ? "wss" : "ws";
        window.WS_URL = `${protocol}://${window.location.host}/ws/editor/room/{{task.id}}/`;
        const userRole = JSON.parse(document.getElementById('user-role').textContent)
        const userId = JSON.parse(document.getElementById('user-id').textContent)
        window.CURRENT_STUDENT_ID = null
        if(userRole === "student"){
            window.CURRENT_STUDENT_ID = userId
        }
        window.STUDENT_CACHE = {}
    </script>
    {% vite_asset 'static/js/editor.js' %}
</div>
{% endblock %}
