{% extends "_base.html" %}

{% block content %}
    <h1>Submission for task {{ submission.task.title }} by student {{ submission.student }} from {{ submission.task.group }}</h1>
    <p>Task description:</p>
    <p>{{ submission.task.description }}</p>
    <p>Students submission:</p>
    <p>{{ submission.content }}</p>
    <div class="form-card card">
    <form method="POST" class="form-row">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Grade</button>
        </div>
    </form>
    </div>
{% endblock %}